/**
 * Header
 */
header {
	top: 0px;
	z-index:2;
	position: fixed;
	width: 100%;
	padding: 10px;
	text-align: center;
	border-bottom: 2px solid grey;
	background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #2F2727, black); /* For Safari */
    background: -o-linear-gradient(top, #2F2727, black); /* For Opera */
    background: -moz-linear-gradient(top, #2F2727, black); /* For Firefox*/
    background: linear-gradient(top, #2F2727, black); /* Standard syntax */
}

header .select.flat-select {
	display: inline-block;
}

/**
 * Form
 */

#FormLabelInformation {
	color: white;
}

/**
 * Gallery
 */

#gallery {
	margin-top: 60px;
	width: 100%;
	overflow: hidden;
}

#gallery .img-box {
	position: relative;
	float: left;
	width: 25%;
	padding-bottom: 20%;
}

#gallery .img-box .img-content {
	position: absolute;
	overflow: hidden;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	cursor:zoom-in;
	-webkit-zoom-in;
}

#gallery .img-box .img-content img {
	width: 100%;
}

#gallery .img-box .img-content .img-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: -100px;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 10px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}

/**
 * Gallery CSS3 effects
 */

/*
	Load CSS animation by removing
	margin-bottom "on mouse enter"
*/
#gallery .img-box .img-content:hover .img-title {
	margin-bottom: 0;
}

/* This element can be focused (see tabindex) */
#gallery .img-box:focus {
	outline: none;
	width:50%;
	z-index: 1;
}

#gallery .img-box:focus .img-content {
	overflow: visible;
}

#gallery .img-box:focus .img-title {
	visibility:hidden;
}

/**
 * Footer
 */

footer {
	left:0;
	bottom:0;
	margin-top: 10px;
	background: black;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: white;
	border-top: 2px dashed grey;
}

footer a {
	text-decoration: none;
	color: gold;
}

footer a:hover {
	font-style: italic;
}
