header {
	top: 0px;
	z-index:1;
	position: fixed;
	width: 100%;
	padding: 10px;
	text-align: left;
	border-bottom: 2px solid grey;
	background: black;
}

header .select.flat-select {
	display: inline-block;
}

#FormLabelInformation {
	color: white;
	display: block;
}

#gallery {
	margin-top: 60px;
	width: 100%;
	overflow: hidden;
}

#gallery .img-box {
	position: relative;
	float: left;
	width: 50%;
	padding-bottom: 50%;
	transition: all .5s ease-in-out;
}

/* This element can be focused (see HTML contenteditable) */
#gallery .img-box:focus {
	outline: none;
	width:100%;
	z-index: 2;
}

#gallery .img-box:focus .img-content {
	overflow: visible;
}

#gallery .img-box:focus .img-title {
	visibility:hidden;
}


#gallery .img-box .img-content {
	position: absolute;
	overflow: hidden;
	left: 5px;
	right: 5px;
	top: 5px;
	bottom: 5px;
	cursor:zoom-in;
	-webkit-zoom-in;
}

#gallery .img-box .img-content img {
	width: 100%;
}

#gallery .img-box .img-content .img-title {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	padding: 10px;
	text-align: center;
}

footer {
	left:0;
	bottom:0;
	margin-top: 10px;
	background: black;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	color: white;
	border-top: 2px dashed grey;
}

footer a {
	text-decoration: none;
	color: gold;
}

footer a:hover {
	font-style: italic;
}
